<!DOCTYPE html>
<html>

    <link href="style.css" rel="stylesheet">

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <body>
        <div id="wrapper">
            <div class="list-group">
                <% for @page in @pages %>
                    <a href="<%= @page.name %>.html" class="list-group-item list-group-item-info"><%= @page.name %></a>
                    This is a test.

                <% end %>
            </div>
        </div>
    </body>

</html>